[package]
name = "stm32wl-hal"
version = "0.1.0"
authors = ["Alex M. <alexmgit@protonmail.com>"]
edition = "2018"
license = "MIT"
description = "STM32WL HAL"

[features]
stm32wl5x_cm0p = [
    "stm32wl/stm32wl5x_cm0p",
    "stm32wl-hal-pka/stm32wl5x_cm0p",
    "stm32wl-hal-subghz/stm32wl5x_cm0p",
]
stm32wl5x_cm4 = [
    "stm32wl/stm32wl5x_cm4",
    "stm32wl-hal-pka/stm32wl5x_cm4",
    "stm32wl-hal-subghz/stm32wl5x_cm4",
]
stm32wle5 = [
    "stm32wl/stm32wle5",
    "stm32wl-hal-pka/stm32wle5",
    "stm32wl-hal-subghz/stm32wle5",
]

[dependencies.stm32wl]
git = "https://github.com/newAM/stm32wl-rs.git"
rev = "031c2ecc3664c8ef3f642fbce075b2c238d5ff1b"

[dependencies.stm32wl-hal-pka]
path = "../pka"

[dependencies.stm32wl-hal-subghz]
path = "../subghz"
